/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  background-color: black;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(49, 49, 49);
}